{% extends "layout.html" %}
{% block content %}
<h3 style="text-align:center;margin:10px;"><strong> アーカイブ </strong></h3>
<div style="margin: 20px 50px 20px 50px;">
    <table class="table-tag table-striped table-hover" width="100%">
    <tr height="50" bgcolor="#C0C0C0">
        <th width="50">id</th>
        <th width="100">image</th>
        <th>inputname</th>
        <th width="200">disease</th>
        <th width="200">savename</th>
        <th width="200">created</th>
        <th width="200">操作</th>
    </tr>
    </table>

    <table class="table-content table-striped table-hover" width="100%">
    {% for result in results %}
    <tr height="50">
        <td width="50">{{ result.id }}</td>
        <td width="100"><img src="/images/origin/{{ result.savename }}" width="40" height="40"></td>
        <td>{{ result.inputname}}</td>
        <td width="200">{{ result.disease}}</td>
        <td width="200">{{ result.savename}}</td>
        <td width="200">{{ result.created }}</td>
        <td width="200">
            <a href="/view/{{ result.id }}">
                <button class="btn btn-primary">参照</button>
            </a>
            <form action="/delete/{{ result.id }}" style="display: inline" method="post">
                <input class="btn btn-danger" type="submit" value="削除" onclick='return confirm("削除しますがよろしいですか？")';>
            </form>

        </td>
    </tr>
    {% endfor %}
    </div>
    </table>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/PaginateMyTable.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/PaginateMyTable.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(".table-content").paginate();
        });
    </script>
</div>

<div>
    <a href="/classification">
        <button class="btn btn-primary" style="margin:10px;">診断に戻る</button>
    </a>
</div>

{% endblock %}
