{% extends "layout.html" %}
{% block content %}
     <center>
        <p> ファイルをアップロードしてください </p>
        <form action = "/classification" method = "POST" enctype = "multipart/form-data">
            <div id="drag-drop-area">
                <div class="drag-drop-inside">
                    <input type="file" name="file" id="elmFile" onchange="selectFile()">
                    <input type="submit" class="btn btn-danger" id="btnUpload" value="アップロード" style="margin:10px;">
                    <script type="text/javascript">
                            window.onload = function() {
                                document.getElementById("btnUpload").disabled = true;
                            }
                            function selectFile() {
                                if (document.getElementById("elmFile").value === "") {
                                    document.getElementById("btnUpload").disabled = true;
                                }
                                else {
                                    document.getElementById("btnUpload").disabled = false;
                                }
                            }   
                    </script>
                </div>
            </div>             
        </form>
      <a href="/archive">
          <button class="btn btn-primary"> アーカイブ </button>
      </a>
     </center>

      {% if name_path %}
      <center>
          <div class="result" style="margin:10px;">
              <p style="text-align:center;">
                  <img src="/images/origin/{{ name_path }}" width="300" height="300">
                  <img src="/images/masked/{{ name_path }}" width="300" height="300">
                  <img src="/images/gradcam/{{ name_path }}" width="300" height="300">
                  <div style="padding: 8px 19px; margin: 2em 0; color: #2c2c2f;
                              background: #cde4ff; border-top: solid 5px #5989cf;
                              border-bottom: solid 5px #5989cf; width: 500px">
                    <h3 style="text-align:center;">[{{ pk }}] Probs : {{ prob }}</h3>
                  </div>
                  <div style="padding: 10px; background: #fff; border: 2px solid #006;
                              border-radius: 10px; font-size: 16px; color: #000;">
                    {% for label, result in output %}
                        <h3>{{ label }}    [{{ result }} %] </h3>
                    {% endfor %}
                  </div>
              </p>
          </div>
      </center>
      {% endif %}

{% endblock %}
